.hexF{width:2em}
.textF{width:1em}
.grm{display:inline-block;overflow: hidden}
.act{background-color: lightsteelblue}

.gr{font-family: "Source Code Pro", "HexEd.it Symbols", "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;}
.g1{width:64%}
.g2{width:32%}
.gcontent{
  display:flex;
  justify-content: space-evenly;

}
.example-container {
  width: auto;
  margin-top:2em;

}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
