.hexF {
  width: 2em
}

.textF {
  width: 1em
}
.g1 .grm {
  text-transform: uppercase;
}
/****

single cell

 */
.grm {
  display: inline-flex;
  overflow: hidden;

  justify-content: center;
}

.grmb
{
display:none;
flex-basis: 100%;
}
.noti.nov{
 display:inline-block;
  margin-left:1em;padding:0em 1em;
  border-radius: 0.3em;
  color:white;
}
.noti.nov.ad{
background-color: #600;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.grm:nth-child(8n){

  border-right:1px solid #eee;
}

.act {
background-color: white;
  animation: myAnimG 2s ease 0s 1 normal forwards;
}

.over {
  background-color:#eeeefe;

}

.gr {
  font-family: "Source Code Pro", "HexEd.it Symbols", "Courier New", Consolas, Menlo, "PT Mono", "Liberation Mono", monospace;
display:flex;flex-wrap:wrap;
}
.boxnov, .box {
  max-width: 200px;
  font-size: 0.8em;
  color: #999;
}
.boxnov.ad {
  max-width: 200px;
  font-size: 0.8em;
  animation: myAnimB 2s ease 0s 1 normal forwards;
}

.g1 {
  width: 64%
}

.g2 {
  width: 32%
}

.gcontent {
  display: flex;
  justify-content: space-evenly;

}
app-file-upload{
  border-bottom: 2px #b0c4de solid;display:block;
  padding-bottom:1em;

}
.example-container {
  width: auto;

display:flex;
}

.example-sidenav-content {
  display: flex;
  flex-grow:1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  min-width:140px;

  border-right: 1px #999999 solid;
}
@keyframes myAnim {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #600;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes myAnimB {
  0% {
    color: #fff;
  }
  50% {
   color: #000;
  }
  100% {
    color: #999;
  }
}
@keyframes myAnimG {
  0% {
    background-color: #fff;
  }

  100% {
    background-color:#b0c4de;
  }
}
@media only screen and (max-width: 575px) {
  .example-container {
    flex-direction: column;
  }
  .example-sidenav {
    padding: 12px;
    border-bottom: 2px #b0c4de solid;
  }
}
