
<mat-toolbar color="primary">


  <h3> Coding challenge (fiskaly)</h3>
</mat-toolbar>

<div class="example-container">
  <div class="example-sidenav">
  <div *ngIf="showFiller">


      <app-file-upload (onLoadF)="read($event)"></app-file-upload>

    <span>Clipboard</span>
    <span *ngIf="copied != 'nov'" [class]="'noti '+copied">...copied</span>
      <div [class]="'box'+copied" id="trigger" >
      {{clipboardContent}}
    </div>

    </div>
  </div>

  <div class="example-sidenav-content">
    <mat-tab-group *ngIf="resultHex" (selectedTabChange)="selectTab($event)" [(selectedIndex)]="seleT">
      <mat-tab *ngFor="let tt of tabs" [label]="tt.name" >
        <div class="gcontent" (mouseup)="mouseUp()" >
        <div class="gr g1">
          <ng-container *ngFor="let nm of tt.resulthex; let i = index;">
       <!--     <span *ngIf="i % 8 == 0 && i>0" class="grmb"> </span>-->
            <span (mouseleave)="mOut(nm)" (mouseout)="mOut(nm)" (mouseover)="mOver(nm)" (mousedown)="res(nm,false)" (mouseup)="resu(nm,false)" [class]="'grm hexF '.concat(nm.act)" >
          {{nm.hex}} </span>

          </ng-container>
        </div>


        <div  class="gr g2">
          <ng-container *ngFor="let nm of tt.resulthex; let i = index;">
      <!--      <span *ngIf="i % 8 == 0 && i>0" class="grmb"> </span>-->
      <span (mouseleave)="mOut(nm)" (mouseout)="mOut(nm)"  (mouseover)="mOver(nm)" (mousedown)="res(nm,true)" (mouseup)="resu(nm, true)" [class]="'grm textF '.concat(nm.act)">
          {{nm.ascii}} </span>
          </ng-container>
        </div>



      </div>


      </mat-tab>

    </mat-tab-group>






<!--


  -->
  </div>

</div>
