
<mat-toolbar color="primary">


  <h3> Challenge</h3>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">


    <button (click)="showFiller = !showFiller" mat-raised-button>
      To
    </button>

    <div *ngIf="showFiller">

<hr>
      <app-file-upload (onLoadF)="read($event)"></app-file-upload>
<hr>
    <b  #tooltip="matTooltip"
        matTooltip="Copied to clipboard"
        matTooltipPosition="right">Clipboard</b>
      <div class="box" id="trigger" (click)="tooltip.show(10)">
      {{clipboardContent}}
    </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-tab-group *ngIf="resultHex" (selectedTabChange)="selectTab($event)" [(selectedIndex)]="seleT">
      <mat-tab *ngFor="let tt of tabs" [label]="tt.name" >
        <div class="gcontent" (mouseup)="mouseUp()" >
        <div class="gr g1">
         <span  (mouseover)="mOver(nm)" (mousedown)="res(nm)" (mouseup)="resu(nm)" [class]="'grm hexF '.concat(nm.act)" *ngFor="let nm of tt.resulthex">
          {{nm.hex}}


        </span>

        </div>


        <div  class="gr g2">
      <span  [class]="'grm textF '.concat(nm.act)" *ngFor="let nm of tt.resulthex">
          {{nm.ascii}}


        </span>
        </div>



      </div>


      </mat-tab>

    </mat-tab-group>






<!--


  -->
  </div>

</mat-drawer-container>
