
<mat-toolbar color="primary">


  <h3> Coding challenge (fiskaly)</h3>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">



    <div *ngIf="showFiller">

<hr>
      <app-file-upload (onLoadF)="read($event)"></app-file-upload>
<hr>
    <b  >Clipboard</b> <span [class]="'noti '+copied">...copied</span>
      <div [class]="'box'+copied" id="trigger" >
      {{clipboardContent}}
    </div>

    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-tab-group *ngIf="resultHex" (selectedTabChange)="selectTab($event)" [(selectedIndex)]="seleT">
      <mat-tab *ngFor="let tt of tabs" [label]="tt.name" >
        <div class="gcontent" (mouseup)="mouseUp()" >
        <div class="gr g1">
          <ng-container *ngFor="let nm of tt.resulthex; let i = index;">
       <!--     <span *ngIf="i % 8 == 0 && i>0" class="grmb"> </span>-->
            <span  (mouseover)="mOver(nm)" (mousedown)="res(nm,false)" (mouseup)="resu(nm,false)" [class]="'grm hexF '.concat(nm.act)" >
          {{nm.hex}} </span>

          </ng-container>
        </div>


        <div  class="gr g2">
          <ng-container *ngFor="let nm of tt.resulthex; let i = index;">
      <!--      <span *ngIf="i % 8 == 0 && i>0" class="grmb"> </span>-->
      <span (mouseover)="mOver(nm)" (mousedown)="res(nm,true)" (mouseup)="resu(nm, true)" [class]="'grm textF '.concat(nm.act)">
          {{nm.ascii}} </span>
          </ng-container>
        </div>



      </div>


      </mat-tab>

    </mat-tab-group>






<!--


  -->
  </div>

</mat-drawer-container>
